apiVersion: v1
kind: Secret
metadata:
  name: database
type: Opaque
stringData:
  AUTH: AUTH_DATABASE_URL
  SANDBOX: SANDBOX_DATABASE_URL
  AI: AI_DATABASE_URL

---

apiVersion: v1
kind: Secret
metadata:
  name: jwt
type: Opaque
stringData:
  JWT_SECRET: JWT_SECRET_VALUE


---
apiVersion: v1
kind: Secret
metadata:
  name: google
type: Opaque
stringData:
  GOOGLE_CLIENT_ID: GOOGLE_CLIENT_ID_VALUE
  GOOGLE_CLIENT_SECRET: GOOGLE_CLIENT_SECRET_VALUE

---
apiVersion: v1
kind: Secret
metadata:
  name: ai-secret
type: Opaque
stringData:
  MISTRAL_API_KEY: MISTRAL_API_KEY_VALUE